<section class="about-us" id="abt">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/businesspeople-standing-outside-office-building.jpg" alt="About Us Image" class="about-image">
        </div>
        <div class="col-lg-6">
          <h1 class="abt">About Us</h1>
          <div class="about-text">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur, dui at faucibus rhoncus, est massa efficitur ipsum, non gravida neque est a erat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
