<div class="allSections" #allSections>
  <section class="main" @fade id="homeSection">
  
      <div class="container-fluid py-4 blurDiv">
          <div class="row py-4">
              <div class="col-6  pt-md-7 homeContent text-center ">
                  <h1>Unlocking a world beyond banking</h1>
                  <button class="btn btnGetStarted mt-3" (click)="login()"><span style="font-size: 80%;">GET STARTED</span></button>
                   

  
              </div>
          </div>
      </div>
  </section>
  <!--About Section-->
  
  <section class="aboutSection" style="background-color:#F4F4F4" @fade id="aboutSection">
      <div class="container py-5 aboutDiv">
          <div class="row py-5 m-auto text-center">
              <div class="col-lg-5 m-auto text-center">
                  <h1 class="aboutHeading">About US</h1>
                  <h5 style="color: #000000;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere delectus
                      dignissimos distinctio, vero inventore alias tempore.</h5>
              </div>
          </div>
         
              <div class="row aboutRow2">
                  <div class="col-lg-6 col-sm-12 mb-4">
                      <div>
                          <img src="../../../assets/img/img_2.jpg"
                              alt="" class="card-img-top">
                      </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 mb-4">
                      <div>
                          <h2>We Solve Your Financial Problem</h2>
                          <p class="aboutPara">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                              Commodi temporibus iste ipsam placeat ratione id neque repudiandae? 
                              Magni ad, culpa facilis, quidem dolore nemo aliquam inventore 
                              dolorem quos veniam blanditiis!</p>
                          <p class="aboutPara">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                              Commodi temporibus iste ipsam placeat ratione id neque repudiandae?
                              Magni ad, culpa facilis, quidem dolore nemo aliquam inventore
                              dolorem quos veniam blanditiis!</p>
                          </div>
                  </div>
              </div>
      </div>
  
  </section>
  
  
  <!--------------------------Features Section------------------------->
  
  <section class="featuresSection" style="background-color:#F8F8FF" @fade id="featuresSection">
      <div class="container py-5 featuresDiv">
          <div class="row py-5 m-auto text-center">
              <div class="col-lg-3 col-md-6 m-auto text-center">
                 <img src="../../../assets/img/png/wallet.png" alt="" height="80px" width="80px" class="featuresImages mb-3">
                  <h2>Money Savings</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi maxime laudantium minima, voluptatum veritatis exercitationem</p>
              </div>
              <div class="col-lg-3 col-md-6 m-auto text-center">
                  <img src="../../../assets/img/png/grocery-cart.png" alt=""  height="80px" width="80px" class="featuresImages mb-3">
                  <h2>Online Shoppings</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi maxime laudantium minima, voluptatum veritatis
                      exercitationem</p>
              </div>
              <div class="col-lg-3 col-md-6 m-auto text-center">
                  <img src="../../../assets/img/png/graph.png" alt="" height="80px" width="80px" class= "featuresImages mb-3">
                  <h2>Debit/ Credit Cards</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi maxime laudantium minima, voluptatum veritatis
                      exercitationem</p>
              </div>
          </div>
  
          <div class="row aboutRow2">
              <div class="col-lg-6 col-sm-12 mb-4">
                  <div>
                      <img src="../../../assets/img/img_1.jpg" alt="" class="card-img-top">
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12 mb-4">
                  <div>
                      <h2>Banking Solutions Is Our Priority</h2>
                      <p class="aboutPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Comm</p>
                      <p class="aboutPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Comm</p>
                      <p class="aboutPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Comm</p>
                      <p class="aboutPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                          Comm</p>
                         
                  </div>
              </div>
          </div>
      </div>
  
  </section>
  <!----------------------------Services Section--------------------------->
  <!-- grey color//#708090; -->
  <section class="serviceSection" style="background-color:#F4F4F4" @fade id="serviceSection"> 
      <div class="container py-5 servicesDiv">
          <div class="row py-5 m-auto text-center">
              <div class="col-lg-5 m-auto text-center">
                  <h1 class="servicesHeading">Our Services</h1>
                  <h3 style="color:grey;">Makes your life easy</h3>
              </div>
          </div>
  
          <section id="gallery">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                              <img src="assets/img/wire-transfer-young-man-using-his-smartphone-laptop-banking-transaction-some-payments.jpg"
                                  alt="" class="card-img-top">
                              <div class="card-body">
                                  <h2 class="card-title">Money Transfer</h2>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                                      similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore
                                      modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                  <button class="btn0" (click)="login()">Send Now</button>
  
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                              <img src="assets/img/happy-couple-greeting-financial-consultant.jpg" alt=""
                                  class="card-img-top">
                              <div class="card-body">
                                  <h2 class="card-title">Apply Loans</h2>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                                      similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore
                                      modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                  <button class="btn0" (click)="login()">Apply Now</button>
  
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                              <img src="assets/img/person-paying-with-its-credit-card (1).jpg" alt=""
                                  class="card-img-top">
                              <div class="card-body">
                                  <h2 class="card-title">Credit Cards</h2>
                                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                                      similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore
                                      modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                  <button class="btn0" (click)="login()">Apply Now</button>
  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>
  <!-----------------------Carousel Section----------------------------->
  <section class="carouselSection py-5" id="carouselSection">
      <h1 class="carouselHeading">How it works</h1>
      <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facere accusantium</h5>
      <div class="carouselDiv mt-4">
          <div id="carousel" class="carousel slide" style="size: 50%;">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner carousel-img">
                  <div class="carousel-item active ">
                      <div class="row">
                          <div class="col-lg-7 col-sm-12">
                              <img src="../../../assets/img/img_1.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="col-lg-4 col-sm-12 carouselDesc">
                                  <h1 class="carouselInnerHeading">01.Online Applications</h1>
                                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio quos natus aspernatur velit cum autem illo beatae.</p>
                                  <button class="btn btn-primary btn-sm"  (click)="login()"> Learn More</button>
                          </div>
                      </div>
                 </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-lg-7 col-sm-12">
                              <img src="../../../assets/img/img_2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="col-lg-4 col-sm-12 carouselDesc">
                              <h1 class="carouselInnerHeading">02. Get an approval</h1>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio quos natus aspernatur velit cum autem illo beatae.</p>
                              <button class="btn btn-primary btn-sm"  (click)="login()"> Learn More</button>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-lg-7 col-sm-12">
                              <img src="../../../assets/img/img_3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="col-lg-4 col-sm-12 carouselDesc">
                              <h1 class="carouselInnerHeading">02. Get the Card</h1>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio quos natus aspernatur velit
                                  cum autem illo beatae.</p>
                              <button class="btn btn-primary btn-sm"  (click)="login()"> Learn More</button>
                          </div>
                      </div>
                  </div>
              </div>
              
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
          
      </div>
      
  </section>
  <!------------------------Pricing Section-------------------------------->
  
  <section class="pricingSection" style="background-color:#F4F4F4" @fade id="pricingSection">
      <div class="container py-5 pricingDiv">
          <div class="row py-5 m-auto text-center">
              <div class="col-lg-5 m-auto text-center">
                  <h1 class="pricingHeading">Be Our Member</h1>
              </div>
          </div>
          <section id="gallery">
              <div class="container">
                  <div class="row" style="justify-content: center;">
                      <div class="col-lg-3 col-md-6 mb-4">
                          <div class="card pricingCard">
                              <!-- <img src="assets/img/wire-transfer-young-man-using-his-smartphone-laptop-banking-transaction-some-payments.jpg" -->
                                 
                              <div class="card-body">
                                  <h2 class="card-title">Savings-Account</h2>
                                  <span class="priceTag">&#8377;1200</span>/year
                                      <div class="card-text p-2 mt-3 mb-3">
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>limited permissible transactions</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Offers 5% interest on year basis</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Requires average minimum balance</p>
                                          <p class="pricingPara strickedText"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>UnLimited amount of debit and credit</p>
                                          <p class="pricingPara strickedText"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>For more frequent transactions</p>
                                  </div>
                                  <button class="btn btn-secondary btn-sm btnClass" (click)="login()">Apply Now</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mb-4">
                          <div class="card cardProfessional pricingCard">
                              <!-- <img src="assets/img/person-paying-with-its-credit-card (1).jpg" alt="" -->
                                 
                              <div class="card-body">
                                  <h2 class="card-title">Current-Account</h2>
                                  <span class="priceTag">&#8377;3200</span>/year
                                      <div class="card-text p-2 mt-3 mb-3">
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Unlimited no of permissible transactions</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Usually do not offer any interest</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Requires higher average minimum balance</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>For more frequent transactions</p>
                                          <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Unlimitd amount of deposit and credit</p>
                                  </div>
                                          <button class="btn btn-primary btn-sm btnClass" (click)="login()">Apply Now</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mb-4">
                          <div class="card pricingCard">
                              <img src="" alt="" class="card-img-top">
                              <div class="card-body">
                                  <h2 class="card-title">Joint-Account</h2>
                                  <span class="priceTag">&#8377;2000</span>/year
                                  <div class="card-text p-2 mt-3 mb-3">
                                      <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>limited no of permissible transactions</p>
                                      <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Offers 8% interest on year basis</p>
                                      <p class="pricingPara"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>Requires average minimum balance</p>
                                      <p class="pricingPara strickedText"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>UnLimited amount of debit and credit</p>
                                      <p class="pricingPara strickedText"><i class="fa fa-check fa-lg pe-1" style="color: chartreuse;"></i>For more frequent transactions</p>
                                  </div>
                                  <button class="btn btn-secondary btn-sm btnClass"  (click)="login()">Apply Now</button>
                                 
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </section>
      </div>
  </section>
  <!----------------------------Footer Section--------------------->
  <section id="footerSection">
      <footer class="text-center text-lg-start text-white bg-dark" >
          <!-- Grid container -->
          <div class="container p-4 pb-0">
              <!-- Section: Links -->
              <section class="">
                  <!--Grid row-->
                  <div class="row">
                      <!-- Grid column -->
                      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
                          <h1 class="mb-4 font-weight-bold">
                              QuickPay Bank
                          </h1>
                          <p>
                              Here you can use rows and columns to organize your footer
                              content. Lorem ipsum dolor sit amet, consectetur adipisicing
                              elit.
                          </p>
                      </div>
                      <!-- Grid column -->
      
                      <hr class="w-100 clearfix d-md-none" />
      
                      <!-- Grid column -->
                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                          <h4 class="text-uppercase mb-4 font-weight-bold">Quick Explore</h4>
      
                          <p>
                              <a class="text-white" fragment="abt" (click)="navigateToSection('aboutSection')"
                                  routerLink="about">About</a>
                          </p>
                          <p>
                              <a class="text-white" fragment="abt" (click)="navigateToSection('serviceSection')"
                                  routerLink="about">Services</a>
                          </p>
      
                      </div>
                      <!-- Grid column -->
      
                      <hr class="w-100 clearfix d-md-none" />
      
                      <!-- Grid column -->
                      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                          <h4 class="text-uppercase mb-4 font-weight-bold">Pages</h4>
                          <p>
                              <a class="text-white">Privacy Policy</a>
                          </p>
                          <p>
                              <a class="text-white">Terms & Condition</a>
                          </p>
      
                      </div>
      
                      <!-- Grid column -->
                      <hr class="w-100 clearfix d-md-none" />
      
      
                      <!--Grid row-->
      
                      <!-- Section: Links -->
      
                      <hr class="my-3">
      
                      <!-- Section: Copyright -->
                      <section class="p-3 pt-0">
                          <div class="row d-flex align-items-center">
                              <!-- Grid column -->
                              <div class="col-md-7 col-lg-8 text-center text-md-start">
                                  <!-- Copyright -->
                                  <div class="p-3">
                                      © 2023 Copyright:
                                      <a class="text-white" href="#">QuickPayBank.com</a>
                                  </div>
                                  <!-- Copyright -->
                              </div>
                              <!-- Grid column -->
      
                              <!-- Grid column -->
      
      
                              <!-- Grid column -->
                          </div>
                      </section>
                      <!-- Section: Copyright -->
                  </div>
              </section>
              <!-- Grid container -->
          </div>
      </footer>
      <!-- Footer -->
  </section>
  
  </div>
  
  