
<section class="ser" style="background-color:rgba(240, 229, 229, 0.806)" id="ser">
    <div class="container py-5">
        <div class="row py-5 m-auto text-center">
        <div class="col-lg-5 m-auto text-center">
            <h1>Our Services</h1>
            <h5 style="color: crimson;">We make your life easy</h5>
        </div>
    </div>

    <section id="gallery">
      <div class="container">
        <div class="row">
        <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/img/wire-transfer-young-man-using-his-smartphone-laptop-banking-transaction-some-payments.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Money Transfer</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
            <button class="btn0 " >Send Now</button>
            
          </div>
         </div>
        </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
          <img src="assets/img/happy-couple-greeting-financial-consultant.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Apply Loans</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
            <button class="btn0 " >Apply Now</button>
            
          </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/img/person-paying-with-its-credit-card (1).jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Credit Cards</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
            <button class="btn0 ">Apply Now</button>
            
          </div>
         </div>
        </div>
      </div>
    </div>
    </section>
</div>

</section>

