<div class="ps-md-5 pe-md-5 mt-1 mt-md-3 ">
	<h1 class="text-bold">All Accounts in Branch {{branch.branchName}}-{{branch.branchCode}}</h1>
	<table class="table table-striped border shadow-sm mt-2 heighter">
		<thead >
			<tr class="table-primary">
				<th scope="col" sortable="AccountNumbaer">AccountNumber</th>
				<th scope="col" sortable="UserName">UserName</th>
				<th scope="col" sortable="Balance">Balance</th>
				<!-- <th scope="col" sortable="branch">Branch</th>
				<th scope="col">Approve/Deny</th> -->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of accounts">
				<th scope="row">{{ user.accountNumber }}</th>
				<td  (click)="open()" >{{user.userName}}</td>
				<td>{{user.balance}}</td>
				<!-- <td>{{user.branchName}}</td>
				<td>
                    <button class="btn rounded-circle me-3 text-success"><i class="fa fa-check"></i></button>
                    <button class="btn rounded-circle text-danger"><i class="fa fa-xmark"></i></button>
                </td> -->
			</tr>
		</tbody>
	</table>

	<div class="d-flex justify-content-between p-2 shadow-sm">
		<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
			(pageChange)="refreshCountries()"></ngb-pagination>

		<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"
			(ngModelChange)="refreshCountries()">
			<option [ngValue]="2">2 items per page</option>
			<option [ngValue]="4">4 items per page</option>
			<option [ngValue]="6">6 items per page</option>
		</select>
	</div>
</div>