
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #6e454c"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold">
                NO BANK
              </h3>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Quick Explore</h6>
             
              <p>
                <a class="text-white"  fragment="abt" (click)="navigateToSection('abt')" routerLink="about">About</a>
              </p>
              <p>
                <a class="text-white" fragment="abt" (click)="navigateToSection('ser')" routerLink="about">Services</a>
              </p>
             
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Pages
              </h6>
              <p>
                <a class="text-white">Privacy Policy</a>
              </p>
              <p>
                <a class="text-white">Terms & Condition</a>
              </p>
             
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
           
          <!--Grid row-->
        
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2023 Copyright:
                <a class="text-white" href="https://NoBank.com/"
                   >NoBank.com</a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end ">
                <button type="button" class="btn   btn-floating mx-2" style="background-color: crimson;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn   btn-floating mx-2" style="background-color: crimson;">
                  <i class="fab fa-youtube"></i>
                </button>
                <button type="button" class="btn   btn-floating mx-2" style="background-color: crimson;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn  btn-floating mx-2" style="background-color: crimson;">
                  <i class="fab fa-twitter"></i>
                </button>
              </div>
  
            <!-- Grid column -->
            
            
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
    </section>
      <!-- Grid container -->
      </div>
    </footer>
    <!-- Footer -->







