
<mat-card  mat-elevation="8" class="card">
    <div>
        <h3>Recent Activity</h3>
        <mat-card  class="total-transactions-card">
            <mat-card-header>
                <mat-card-title>Total Transactions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    {{totalTransactions}}
                </h3>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="unusual-transactions-card">
            <mat-card-header>
                <mat-card-title>Unusual Transactions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3>
                    {{suspiciousTransactions}}
                </h3>
            </mat-card-content>
        </mat-card>
        
    </div>

        <app-transactions-chart></app-transactions-chart>
        
</mat-card>
